@color-background: #C8E0ED;
@color-foreground: #098BAA;
@margin-large: 30px;
@margin-small: 10px;
@height-div-large: 670px;
@height-div-small: 590px;
@width-boxes-foreground: 200px;
@text-width-background: 200px;
@height-table-header: 70px;
@width-table-header: 620px;


body{
	font-family: 'Arial Narrow', arial;
	font-size: 200%;
}

div.background {
	background-color: @color-background;
	display: block;
	overflow: auto;
	width: 100%;
	&.top {
		margin-top: @margin-large;
	}
	&.bottom {
		margin-top: @margin-small;
		margin-bottom: @margin-large;
	}
}
div.procurement-box{
	border: 1px solid black;
	height: 100px;
	width: 180px;
	text-align: center;
	vertical-align: middle;
}
.foreground, table {
	float: left;
}
table{
	margin: 0 @margin-large;
}
div.foreground {
	background-color: @color-foreground;
	height: @height-div-large;

	&.small {
		height: @height-div-small;
		margin-top: @margin-small;
		&.middle{
			margin-left: @margin-small;
			margin-right: @margin-small;
		}
	}

	&.tableHeader {
		height: @height-table-header;
		width: @width-table-header;
	}
}
div.text {
	width: @width-boxes-foreground;
	text-align: center;
	vertical-align: middle;

	&.text-background {
		float: right;
		width: @text-width-background;
	}
	&.text-tableHeader {
		width: @width-table-header;
		height: @height-table-header;
		text-align: center;
		vertical-align: middle;
		line-height: @height-table-header;
		font-family: 'Arial Narrow', arial;
		font-weight: normal;
	}
	&.text-foreground, &.text-tableHeader{
		color: white;
	}
	&.text-foreground.sides{
		margin-top: 200px;
	}
	&.text-foreground.table{
			margin-top: 120px;
		}
}

div.foreground-wrapper {
	opacity: 0.7;
	z-index: 1;
	display: inline;
	overflow: hidden;
	position: absolute;
}
div.background-wrapper{
	position: absolute;
	top: 0; left: 0; width: 100%;
	overflow: auto;
}
div.white-background{
	display: inline-block;
	vertical-align:top;
}
div.blue-background{
	width: 80%;
	display: inline-block;
}