div.mybackground {
  background-color: #C8E0ED;
  display: block;
  overflow: auto;
  width: 820px;
}
div.mybackground.mytop {
  margin-top: 8px;
}
div.mybackground.mybottom {
  margin-top: 8px;
  margin-bottom: 8px;
}
div.myprocurement-box {
  border: 1px solid black;
  height: 70px;
  width: 127px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 130%;
  line-height: 30px;
  padding: 5px;
  font-family: 'Arial Narrow', arial;
}
p.myprocurement-box {
  display: table-cell;
  vertical-align: middle;
}
.myforeground,
table.mytable {
  float: left;
}
table.mytable {
  margin: 0 8px;
}
div.myforeground {
  background-color: #11788C;
  height: 610px;
  margin-top: 8px;
  position: relative;
  overflow: visible;
}
div.myforeground.mysmall {
  height: 567px;
  margin-top: 3px;
}
div.myforeground.mysmall.mymiddle {
  margin-left: 3px;
  margin-right: 3px;
}
div.myforeground.mytableHeader {
  height: 40px;
  width: 396px;
}
div.mytext {
  width: 130px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Arial Narrow', arial;
}
div.mytext.mytext-background {
  float: right;
  width: 135px;
  padding-right: 10px;
}
div.mytext.mytext-tableHeader {
  width: 396px;
  height: 40px;
  font-family: 'Arial Narrow', arial;
  font-weight: normal;
  line-height: 40px;
  vertical-align: middle;
}
div.mytext.mytext-foreground,
div.mytext.mytext-tableHeader {
  color: white;
}
div.mytext.mytext-foreground.mysides {
  margin-top: 170px;
}
div.mytext.mytext-foreground.mytable {
  margin-top: 127px;
}
.myh4.mytableHeader {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 396px;
  font-size: 90%;
}
div.myforeground-wrapper {
  opacity: 0.my 7;
  z-index: 1;
  display: inline;
  overflow: hidden;
  position: absolute;
}
div.mybackground-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 961px;
  overflow: auto;
}
div.mywhite-background {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}
div.myblue-background {
  width: 820px;
  display: inline-block;
  margin-right: 3px;
}
div.mytest-div {
  border: 1px solid black;
  height: 800px;
  width: 961px;
}
div.myforeground:not(.mytableHeader):hover {
  margin-right: -7px;
  width: 137px;
  background-color: #1692AB;
  margin-top: -12px;
  -moz-box-shadow: 0px 0px 50px 0px #000000;
  -webkit-box-shadow: 0px 0px 50px 0px #000000;
  box-shadow: 0px 0px 50px 0px #000000;
  z-index: 9;
}
div.myforeground:not(.mytableHeader):hover.mymiddle {
  margin-right: -4px;
}
div.myforeground:not(.mytableHeader):hover.mytall {
  margin-top: -2px;
}
div.myprocurement-box:hover {
  width: 132px;
  height: 75px;
  margin-right: -7px;
  margin-top: -5px;
  -moz-box-shadow: 0px 0px 20px 0px #000000;
  -webkit-box-shadow: 0px 0px 20px 0px #000000;
  box-shadow: 0px 0px 20px 0px #000000;
  z-index: 10;
}
